body{
    background-color: azure;
}
.titulo{
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 900;
    font-family: 'Tilt Prism', cursive;
}

.container{
    margin-bottom: 15px !important;
}

#abajo{
    margin-bottom: 150px !important;
}

footer {
    position: fixed;
    text-align: center;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #000000;
    padding-top: 15px;
    padding-bottom: 45px;
    color: aliceblue;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

